<!DOCTYPE html>
<html>

<head>
    <title>GPU Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='author.css') }}">
    <meta charset="UTF-8">
    <lang="en">
</head>

<body>
    <h2 style="text-align: center;">GPU Monitor</h2>
    {% if data %}
    <br>
    {% for server, info in data.items() %}
    <div class="table-container">
    <table>
        <caption>
            <span style="color: #9FB3DF;">{{ info['hostname'] }}</span>
            |
            <span class="copyText" style="color:#9FB3DF;user-select: all; cursor: pointer;">{{ info['ip'] }}</span>
            |
            <span style="color: #9FB3DF;">{{ info['driver_version'] }}</span>
            |
            <span style="color:#FFD66B;">{{ info['remark'] }}</span>
            {% if info['remark2'] %}
            <span style="color: #FF6363;">{{ info['remark2'] }}</span>
            {% else %}
            <span style="color: #80D8C3;">Alive</span>
            {% endif %}

            <span style="float:right; color: #533B4D;">{{ info['update_time'] }}</span>
        </caption>
        <tr>
            {% if info['gpus'] and info['gpus'][0] %}
            {% for key in info['gpus'][0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            {% endif %}
        </tr>
        {% for gpu in info['gpus'] %}
        <tr>
            {% for value in gpu.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    </div>
    {% endfor %}
    <hr>
    <p>Get SSH Config -->
        <a href='/ssh_config?proxy=false&username=your_username'>No Proxy</a>
        <a href='/ssh_config?proxy=true&username=your_username'>Proxied</a>
    </p>
    {% else %}
    <p>No GPU data available.</p>
    {% endif %}

    <div class="author-info-footer">
        <p>&copy; 2025 HAI / Hongwei Hu. All rights reserved.</p>
    </div>

    <script>
        setInterval(function () {
            window.location.reload();
        }, 30000); // 60000 毫秒 = 60 秒

        const ips = document.querySelectorAll('.copyText');
        ips.forEach(ip => {
            ip.onclick = function () {
                // need https
                navigator.clipboard.writeText(this.innerText);
            };
        });

    </script>
</body>

</html>